fastapi==0.115.6
starlette==0.40.0
pydantic==2.9.2
pydantic-core==2.23.4
pydantic-settings==2.6.0
typing-extensions==4.12.2
SQLAlchemy==2.0.36
asyncpg==0.29.0
pyjwt==2.9.0
passlib[bcrypt]==1.7.4
uvicorn[standard]==0.30.6
 pip install pydantic[email]